:root {
  --azure: #0290ff;
  --black: #121212;
  --gray: #e8e8e8;

}

nav,
.bookstore,
.categories {
  padding: 2% 4%;
}

/* navbar */
nav {
  border-bottom: 1px solid var(--gray);
  background-color: #fff;
}

h1 {
  color: var(--azure);
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 36px;
  align-items: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  align-items: center;
}

.link-categories {
  opacity: 0.5;
}
